<ul>
<% @events.each do |event| %>
	<li>
		<%= event.name %>
	<%= link_to 'Show', :controller => 'events', :action => 'show', :id => event %>
	<%= link_to 'Edit', :controller => 'events', :action => 'edit', :id => event %>
	<%= button_to 'Delete', event_path(event), :method => :delete %>
	</li>
<% end %>
</ul>
<%= link_to 'New Evenet', new_event_path %>


